/*Navegador,footer y cuerpo de las paginas*/
body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .hero {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  
  .capa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: -1;
  }

  header {
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 2px;
    font-size: 1.325rem;
    text-align: center;
  }

  .titulo {
    padding: 2rem;
    font-size: 2.8rem;
    font-weight: bolder

  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
    margin-top: -20px;
    gap: 12rem;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 19px;
    border-radius: 19px;
    transition: 0.5s;
    font-size: 1.25rem;
    font-weight: bold; 
  }
  
  nav a:hover,
  nav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: scale(1.03);
  }
  
  .foot {
    color: #ffffff;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;
    height: 3.6rem;
  }

/*imagenes y texto*/

.img-cartelera{
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
  margin: 0 auto 30px auto;
}


.titulo_h2_centrado {
  text-align: center;
  margin-top: -1rem;
}

.descripcion-peliculas{
  text-align: justify;
  line-height: 1.75;
}

.oferta {
  text-align: center;
}
.btn {
  margin: 0 auto 30px auto;
  margin-top: 30px;
}
/*imagen de boleteria*/
#img-boleteria {
  display: block;
  margin: 0 auto;
  height: auto;
  margin: 0 auto 30px auto;
}

.main-index {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1.3rem;
}

.caja1-index-main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.content-index, .contentv2-index {
  padding: 1rem;
  border-radius: 10px;
  width: 45%;
}

.caja2-index-main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.contentv3-index, .contentv4-index {
  padding: 1rem;
  border-radius: 10px;
  width: 45%;
}

.text-tall {
  font-size: 1.3rem;
}

.iframme {
  border-radius: 1rem;
}