/*Navegador,footer y cuerpo de las paginas*/
body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 2px;
    font-size: 1.325rem;
    text-align: center;
  }

  .titulo {
    padding: 2rem;
    font-size: 2.8rem;
    font-weight: bolder

  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
    margin-top: -20px;
    gap: 10rem;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 19px;
    border-radius: 19px;
    transition: 0.5s;
    font-size: 1.25rem;
    font-weight: bold; 
  }
  
  nav a:hover,
  nav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: scale(1.03);
  }
  
  .foot {
    color: #ffffff;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    text-align: center;
    margin-top: auto;
    padding-top: 0.65rem;
    height: 2.9rem;
  }
  /*Estrenos.html*/
  body.estrenos{
    font-family: 'Montserrat', sans-serif;
  }
  .Inicio{
    text-align: center;
    font-size: 5rem;
    margin: auto;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }
  .row{
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    padding: 15px;
    justify-content: center;
  }
  .row img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    display: block;
  }
  .row h3{
    font-size: 3rem;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
   }
   .row p {
    font-size: 1.5rem;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
  }

/*imagenes y texto*/

.img-cartelera{
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
  margin: 0 auto 30px auto;
}


.titulo_h2_centrado {
  text-align: center;
  margin-top: -1rem;
}

.descripcion-peliculas{
  text-align: justify;
  line-height: 1.75;
}

.oferta {
  text-align: center;
}
.btn {
  margin: 0 auto 30px auto;
  margin-top: 30px;
}
/*imagen de boleteria*/
#img-boleteria {
  display: block;
  margin: 0 auto;
  height: auto;
  margin: 0 auto 30px auto;
}
